*{ padding: 0; margin: 0; }

/*GLOBAL*/
#gioithieu{
	font-family: 'Rubik', sans-serif;
	font-size: 13px;
	position: relative;
	display: block;
}
.cangiua{
	width: 95%;
	margin: 0 auto;
	position: relative;
	display: block;
}

ul,ol,li{ 
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	color: #fff;
}
a:hover{
	color: #fff;
	text-decoration: none;
}
p{
	margin: 0;
}



.t-center{ text-align: center; }
.b-rs-90{ border-radius: 90px; }

.bg-blue{ background: #1b9dff; }
.bg-white{ background: #FEFEFE; }
.bg-purple{ background: #135bfb; }
.bg-sky{ background: #1F6BEF; }
.bg-yellow{ background: #FAD46E; }
.bg-cloud{ background: #FAD46E; }
.bg-green{ background: #A4C683; }
.bg-default{ background: #D2E7F7; }
.t-white{ color: #ffffff; }
.t-black{ color: #000; }
.t-gray{ color: #999; }

.m-t-5{ margin-top: 5px; }
.m-t-10{ margin-top: 10px; }
.m-t-15{ margin-top: 15px; }
.m-t-20{ margin-top: 20px; }
.m-t-25{ margin-top: 25px; }
.m-t-30{ margin-top: 30px; }

.m-r-5{ margin-right: 5px; }
.m-r-10{ margin-right: 10px; }
.m-r-15{ margin-right: 15px; }
.m-r-20{ margin-right: 20px; }
.m-r-25{ margin-right: 25px; }
.m-r-30{ margin-right: 30px; }

.m-b-5{ margin-bottom: 5px; }
.m-b-10{ margin-bottom: 10px; }
.m-b-15{ margin-bottom: 15px; }
.m-b-20{ margin-bottom: 20px; }
.m-b-25{ margin-bottom: 25px; }
.m-b-30{ margin-bottom: 30px; }

.m-l-5{ margin-left: 5px; }
.m-l-10{ margin-left: 10px; }
.m-l-15{ margin-left: 15px; }
.m-l-20{ margin-left: 20px; }
.m-l-25{ margin-left: 25px; }
.m-l-30{ margin-left: 30px; } 


.p-t-5{ padding-top: 5px; }
.p-t-10{ padding-top: 10px; }
.p-t-15{ padding-top: 15px; }
.p-t-20{ padding-top: 20px; }
.p-t-25{ padding-top: 25px; }
.p-t-30{ padding-top: 30px; }

.p-r-5{ padding-right: 5px; }
.p-r-10{ padding-right: 10px; }
.p-r-15{ padding-right: 15px; }
.p-r-20{ padding-right: 20px; }
.p-r-25{ padding-right: 25px; }
.p-r-30{ padding-right: 30px; }

.p-b-5{ padding-bottom: 5px; }
.p-b-10{ padding-bottom: 10px; }
.p-b-15{ padding-bottom: 15px; }
.p-b-20{ padding-bottom: 20px; }
.p-b-25{ padding-bottom: 25px; }
.p-b-30{ padding-bottom: 30px; }

.p-l-5{ padding-left: 5px; }
.p-l-10{ padding-left: 10px; }
.p-l-15{ padding-left: 15px; }
.p-l-20{ padding-left: 20px; }
.p-l-25{ padding-left: 25px; }
.p-l-30{ padding-left: 30px; } 

.p-5{ padding: 5px; }
.p-10{ padding: 10px; }
.p-15{ padding: 15px; }
.p-20{ padding: 20px; }
.p-25{ padding: 25px; }
.p-30{ padding: 30px; } 
.p-50{ padding: 50px; }

.f-l{ float: left; }
.f-r{ float: right; }
.inline{ display: inline-block; }
.p-a{ position: absolute; }


/*HEADER*/


#header{
	position: relative;
	box-shadow: 0 0 5px 0 rgba(27,157,255,.5);
}

#header .menu-main{
	overflow: hidden;
	position: relative;
}


#header .menuluachon{
	position: absolute;
	top: 0;
	right: 50px;
	font-size: 16px;
	display: block;
	line-height: 90px;
}
#header .menuluachon .khoichon{
	width: 150px;
}
#header .menuluachon .khoichon:hover{
	height: 95px;
	background: #fff;
	box-shadow: 2px 2px 30px 2px rgba(27,157,255,.9);
}
#header .menuluachon .khoichon:hover a{
	color: rgb(27,157,255);
}
#header .menuluachon .linkbatdau{
	border-radius: 90px;
	padding: 20px 30px;
}


#content{
	position: relative;
	height: 500px;
}
#content .anhmieuta{
	right: 50px;
	top: 60px;
}
#content .vanbanmieuta{
	width: 430px;
	padding-top: 40px;
}
#content .vanbanmieuta h2{
	font-size: 46px;
	margin-bottom: 10px;
}
#content .vanbanmieuta p{
	opacity: 0.6;
	margin-bottom: 15px;
}
#content .vanbanmieuta .hanhdong{
	border-radius: 90px;
	height: 50px;
	width: 130px;
	line-height: 50px;

}