*{ padding: 0; margin: 0; }
.m-b-0{ margin-bottom: 0; }
/*banner*/
#banner{ height: 300px; background: url(../uploads/anhbia.jpg) no-repeat center; background-size: cover; position: relative; }
.wrap-banner{ position: relative; height: 300px; }
.avatar-upload{ position: absolute; bottom: -56px; z-index: 999;}
.menu-person{  }
/*noi dung trang web*/
#content_person{ padding-top: 15px; }
.file-cus{ position: relative; }
.input-file{ cursor: pointer; text-indent: -103px; display: block; filter: alpha(opacity=0); min-height: 100%; max-width: 100%; opacity: 0; position: absolute; right: 0;text-align: right; top: 0; }
.box-infor-short p{ margin-bottom: 5px; }



.status-person{ margin-top: 15px; }
.header-status{ position: relative; }
.avatar-status{ padding: 10px; }
.infor-status{ position: absolute; top: 15px; left: 65px; }
.select-status{ position: absolute; top: 15px; right: 10px; }
.stock-status{ padding: 10px 10px 10px 15px; font-size: 13px;}
.block-images img{ margin-bottom: 10px; }
.feel-status{ position: relative; padding: 10px 10px 10px 15px; font-size: 12px; border-top: 1px solid rgba(0,0,0,.15); border-bottom: 1px solid rgba(0,0,0,.15); }
.feel-status ul li a{ padding-bottom: 0; padding-top: 0; }


/*css for comment person*/
.comment-status{ position: relative; padding-bottom: 15px;}
#person-comment{ position: relative; display: block; clear: both; }
.avatar-status{ float: left; clear: both;}
.infor-comment{ padding: 13px 10px 0px 65px; }
.content-comment{ border-radius: 1.3em; padding: 6px 12px; font-size: 13px; margin-bottom: 0; }
.own-status-comment .avatar-status{ float: right; }
.own-status-comment .infor-comment{ text-align: right; padding-left: 10px; padding-right: 65px;}
.own-status-comment .infor-comment a{ text-align: right; }
.own-status-comment .infor-comment .content-comment{ text-align: left; }
.more-comment{ border-top: 1px solid rgba(0,0,0,.15); }
.box-input-own-comment{ position: relative; }
.box-input-own-comment textarea{ padding-right: 60px; }
.list-action-comment { position: absolute; top: 22px; right: 20px; opacity: 0.8; }
.list-action-comment ul{ margin-bottom: 0; }
.list-action-comment ul li a i{ color: #999; font-size: 20px; }

